<div class = "well" >
<h1>PETITION THE PRESIDENCY OF GHANA TO INQUIRE ABOUT CORRUPTION AT DVLA</h1>
<h2> ADDRESSEE: Prosper Douglas Kweku Bani, Chief of Staff to President Mahama</h2>
<h3>AUTHOR: Joseph Boakye Yiadom, Executive Director of Akwaaba Road Safety &amp; Victims Support Foundation
<h3>

<p>The Driver and Vehicle Licensing Authority (DVLA) has over the years been considered a corrupt institution especially in the area of granting driver’s licenses which is a key cause of the carnage on Ghana's roads.</p>

<p>This allegation was substantiated in a recent documentary by Anas Aremeyaw Anas, Soul Takers 1 DVLA Rots. In the documentary, officials of DVLA were seen busily bargaining with prospective applicants and collecting between GHs 250 and GHs 400 ($83 - $133) to issue Ghanaian driver’s licenses and international driving permits to unqualified and absent applicants without any hesitation. This is appalling when the maximum a new driver’s license costs is GHs 68.50 ($23) and when unqualified applicants are entrusted with the lives of innocent road users.<p>

<p>Show more...</p>

<p>These licenses, as exposed in the documentary, are issued on a daily basis to genuinely unqualified applicants who use these fraudulent licenses to gain access to the roads without any driving knowledge. This accounts for the avoidable deaths of innocent Ghanaians and other nationals killed and maimed by inexperienced and untrained drivers on Ghana's roads because they lack basic driving skills.</p>

<p>Shortly after Anas' documentary, there was an announcement of a committee by the DVLA to investigate the content of the piece. However, the committee’s results have yet to be made public. Meanwhile, the corrupt practice at the authority is back again in full gear with the corrupt officials now calling their accomplices to bring business.</p>

<p>The egregious socio-economic effects of road crashes were also documented in the most recent report by Ghana’s National Road Safety Commission filed in 2010: There were 2000 deaths of overwhelmingly healthy people (Ghanaians and other nationals some of whom were on short visits to the country). Also, there were over 5000 permanent disabilities at a financial cost of over $400 million annually. The emotional and psychological trauma caused by road crashes that were shown in the documentary leaves a lot to be desired.</p>

<p>This is enough to warrant a presidential enquiry into the revelations of Soul Takers I documentary, as had been promised by the late President Mills. The DVLA committee is not in the position to find a better and lasting solution to corruption at DVLA and instead this should be done by an independent committee assigned by President Mahama.</p>

<p>The direct financial benefits to these corrupt officials including top officials at the driver training and licensing directorate of the authority is so enormous that they will never willingly sacrifice to forgo and protect lives and property of Ghana’s roads as mandated by law unless compelled to do so by a higher authority.</p>

<p>Anas Aremeyaw Anas has done his part, it is up to all and sundry including Government, Diplomatic missions, Civil society and the general public to resolve to ensure safety on Ghana's roads for the general good of all because every life in Ghana is at risk.</p>

<p>Sincerely,</p>
<p>Joseph Boakye Yiadom, Executive Director of Akwaaba Road Safety & Victims Support Foundation</p>


<p>Show Less</p>


</div>



<div class="page-header">
  <h1>Add Signature</h1>
</div>

<% if @signature.errors.any? %>
  <% @signature.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_signature" class="form-horizontal">
  <!-- Label and input for first_name -->
  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">
      First name
    </label>
    <div class="col-sm-10">
      <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @signature.first_name %>">
    </div>
  </div>

  <!-- Label and input for last_name -->
  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">
      Last name
    </label>
    <div class="col-sm-10">
      <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @signature.last_name %>">
    </div>
  </div>

  <!-- Label and input for city -->
  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">
      City
    </label>
    <div class="col-sm-10">
      <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @signature.city %>">
    </div>
  </div>

  <!-- Label and input for country -->
  <div class="form-group">
    <label for="country" class="col-sm-2 control-label">
      Country
    </label>
    <div class="col-sm-10">
      <input type="text" id="country" name="country" placeholder="Country" class="form-control" value="<%= @signature.country %>">
    </div>
  </div>

  <!-- Label and input for phone_number -->
  <div class="form-group">
    <label for="phone_number" class="col-sm-2 control-label">
      Phone number
    </label>
    <div class="col-sm-10">
      <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="<%= @signature.phone_number %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Signature" class="btn btn-primary">
    </div>
  </div>
</form>
