<div class="page-header">
  <h1>Signature #<%= @signature.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @signature.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @signature.last_name %></dd>

  <dt>City</dt>
  <dd><%= @signature.city %></dd>

  <dt>Country</dt>
  <dd><%= @signature.country %></dd>

  <dt>Phone number</dt>
  <dd><%= @signature.phone_number %></dd>

</dl>
