<body>
    <h2 class = "text-center" "font-size:250%">Our Latest Campaign: Corruption and Road Safety in Ghana </p></h2>
    <br/>
    <br/>
  <div class="row">
    <iframe class="col-12 center-block" width="750" height="500" src="//www.youtube.com/embed/twUbaeEL4nc" frameborder="0" allowfullscreen></iframe>
  </div>


<div class = "breathing-room">
<p><h3 class="text-center"> actNOW is a platform for investigators and journalists to report their findings on corruption <br/> and human rights issues. In response to injustice, users can petition decision makers and <br/> share stories with friends.</h3></p>
</div>


 <div class="well breathing-room">
    <h2>What We Do</h2>

<br/>
<br/>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
        <h3><b>INVESTIGATE</b></h3> <p> corruption and HR violations</p>
        <div class="tagline">
          <%=image_tag(image_path("homepage-investigate.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>
    <div class="col-sm-3">
      <h3><b>EXPOSE</b></h3><p>the injustice to the local community</p>
      <div class="tagline">
          <%=image_tag(image_path("homepage-expose.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>

    <div class="col-sm-3">
      <h3><b>PETITION</h3></b><p>decision makers to confront the issue</p>
      <div class="tagline">
          <%=image_tag(image_path("homepage-petition.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>

    <div class="col-sm-3">
      <h3><b>END CORRUPTION</h3></b><p>and HR violations one cause <br> at a time</p>
      <div class="tagline">
        <%=image_tag(image_path("homepage-endcorruption.png"), style: "max-width:150px; margin-top:-7px;")%>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center breathing-room"><p>Together we can make Africa a better place.</p></h2>

<div class="tagline">
        <%=image_tag(image_path("homepage-africa.jpg"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
</div>


<p><h3 class="text-center breathing-room"> <strong> Get involved! </strong> <br/> <br/> Download the app to view our latest investigation and sign the petition.</h3></p>

<div class="tagline breathing-room">
        <%=image_tag(image_path("homepage-googleplay.png"), style: "max-width:300px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
</div>

