<head>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<header class='dissapearing-header'>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
            <div class="tagline">
              <%=image_tag(image_path("actNOW-Logo.png"), class: 'navbar-left', style: "max-width:250px; margin-top: -7px;") %>
              <h1><p><b>&nbsp Corruption ends where action begins</h1></p> </b>
            </div>
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="about.html">&nbsp Home</a>
                    </li>
                    <li>
                        <a href="services.html">How It Works</a>
                    </li>
                    <li>
                        <a href="contact.html">About Us</a>
                    </li>
                </ul>
            </div>
          </div>
        </nav>
  </header>

<body>
    <h2 class = "text-center" "font-size:250%">Our First Campaign: Corruption and Road Safety in Ghana</p></h2>
  <div class="row">
    <iframe class="col-12 center-block" width="750" height="500" src="//www.youtube.com/embed/twUbaeEL4nc" frameborder="0" allowfullscreen></iframe>
  </div>
<!--
    <h1 class="margins" >Our First Campaign: Corruption and Road Safety in Ghana </h1>
       <embed width=
        src="https://www.youtube.com/v/twUbaeEL4nc"
        type="application/x-shockwave-flash">
  </div> -->

 <div class="row">
    <h2>What We Do</h2>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <div class="tagline">
          <%=image_tag(image_path("homepage-investigate.png"), style: "max-width:250px; margin-top:-7px;")%>
        <h4><b>Investigate</h4></b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="tagline">
          <%=image_tag(image_path("homepage-expose.png"), style: "max-width:250px; margin-top:-7px;")%>
        <h5><b>Expose</h5></b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="tagline">
          <%=image_tag(image_path("homepage-petition.png"), style: "max-width:250px; margin-top:-7px;")%>
        <h3><b>Petition</h3></b>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="tagline">
        <%=image_tag(image_path("homepage-endcorruption.png"), style: "max-width:250px; margin-top:-7px;")%>
        <h3><b>End Corruption</h3></b>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="one-third">
      <h3>Description (33%)</h3>
      <p>In this screenshot, you see how easy it is to do awesome stuff with our product.</p>
    </div>
    <div class="two-third">
      <img src="screenshot_2.png">
    </div>
  </div>

  <div class="row">
    <div class="two-third">
      <img src="screenshot_1.png">
    </div>
    <div class="one-third">
      <h3>Description of screenshot (33%)</h3>
      <p>If you aren't convinced by this screenshot, you'll never be.</p>
    </div>
  </div>

  <div class="row">
    <div class="one-fourth">
      <h3>Testimonial (25%)</h3>
      <p>This product changed my life!</p>
    </div>

    <div class="one-fourth">
      <h3>Testimonial (25%)</h3>
      <p>Best thing since sliced bread.</p>
    </div>

    <div class="one-fourth">
      <h3>Testimonial (25%)</h3>
      <p>It's kinda of "meh."</p>
    </div>
  </div>
  <div class="clearfix"></div>
  <footer>&#169; Our Awesome Company 2013</footer>
