<div>
    <p><h2 class = "text-center cta-text">View an investigation</h2><br/><p class="text-center"> led by one of our journalists exposing a specific injustice.</p>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-view.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>
<div>
<div class="breathing-room">
    <p><h2 class = "text-center cta-text">You petition decision makers</h2><br/><p class="text-center">to right the wrong.</p>
      <div class="tagline">
        <%=image_tag(image_path("homepage-petition.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<div class="breathing-room">
    <p><h2 class = "text-center cta-text">Encourage friends</h2><br/><p class="text-center">to join the fight.</p>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-encouragefriends.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<div class="breathing-room">
    <p><h2 class = "text-center cta-text">Cause is magnified...</p>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-causemag.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<div>
    <p><h2 class = "text-center cta-text">leaders must listen.</h2></p>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-causemag2.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<div class="breathing-room">
    <p><h2 class = "text-center cta-text">Watch as action is taken.</h2></p>
      <div>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-actiontaken2.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
    </div>

      <div class="tagline">
        <%=image_tag(image_path("howitworks-actiontaken.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>
</div>

<div class="breathing-room">
    <p><h2 class = "text-center cta-text">Check back with actNOW for updates.</h2></p>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-checkback.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<div class="breathing-room">
    <p><h2 class = "text-center cta-text">Repeat the process.</h2><br/>
      <div class="tagline">
        <%=image_tag(image_path("howitworks-view.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<!-- <div class="breathing-room">
    <p><h2 class = "text-center cta-text">View an investigation</h2><br/><p class="text-center"> led by one of our journalists exposing a specific injustice.</p>
    <div class="col-sm-5">
      <div class="tagline">
        <%=image_tag(image_path("howitworks-view.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>
    <div class="col-sm-5">
    <div class="tagline">
    <%=image_tag(image_path("howitworks-view2.png"), style: "max-width:500px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
     </div>
    </div>
</div> -->

<!-- <div class="breathing-room container row col-sm-5 tagline">
          <%=image_tag(image_path("howitworks-view.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    <div class="col-sm-5">
      <div class="tagline">
          <%=image_tag(image_path("howitworks2-view.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>
 -->















